<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Servlet.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>Servlet.AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAndLogout</servlet-name>
        <servlet-class>Servlet.LoginAndLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Product</servlet-name>
        <servlet-class>Servlet.Product</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchaseToDatabase</servlet-name>
        <servlet-class>Servlet.PurchaseToDatabase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCart</servlet-name>
        <servlet-class>Servlet.ViewCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertToDatabase</servlet-name>
        <servlet-class>Servlet.InsertToDatabase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>Servlet.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>Servlet.DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProduct</servlet-name>
        <servlet-class>Servlet.UpdateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMember</servlet-name>
        <servlet-class>Servlet.DeleteMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProduct</servlet-name>
        <servlet-class>Servlet.SearchProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAdmin</servlet-name>
        <servlet-class>Servlet.LoginAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMember</servlet-name>
        <servlet-class>Servlet.UpdateMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowProduct</servlet-name>
        <servlet-class>Servlet.ShowProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Detail</servlet-name>
        <servlet-class>Servlet.Detail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetCart</servlet-name>
        <servlet-class>Servlet.ResetCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProfile</servlet-name>
        <servlet-class>Servlet.ViewProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertMember</servlet-name>
        <servlet-class>Servlet.InsertMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPrice</servlet-name>
        <servlet-class>Servlet.SearchPrice</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAndLogout</servlet-name>
        <url-pattern>/LoginAndLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Product</servlet-name>
        <url-pattern>/Product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchaseToDatabase</servlet-name>
        <url-pattern>/PurchaseToDatabase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCart</servlet-name>
        <url-pattern>/ViewCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertToDatabase</servlet-name>
        <url-pattern>/InsertToDatabase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/DeleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProduct</servlet-name>
        <url-pattern>/UpdateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMember</servlet-name>
        <url-pattern>/DeleteMember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProduct</servlet-name>
        <url-pattern>/SearchProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAdmin</servlet-name>
        <url-pattern>/LoginAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMember</servlet-name>
        <url-pattern>/UpdateMember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowProduct</servlet-name>
        <url-pattern>/ShowProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Detail</servlet-name>
        <url-pattern>/Detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetCart</servlet-name>
        <url-pattern>/ResetCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProfile</servlet-name>
        <url-pattern>/ViewProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertMember</servlet-name>
        <url-pattern>/InsertMember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPrice</servlet-name>
        <url-pattern>/SearchPrice</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
